<div class="container-fluid w-100 justify-content-center" data-bs-theme="dark">
    <table class="table table-bordered table-striped table-hover rounded-3">
        <thead>
          <tr>
            <th scope="col" class="fw-bold fst-italic">#</th>
            <th scope="col" class="fw-bold fst-italic">HoliDay</th>
            <th scope="col" class="fw-bold fst-italic">Date</th>
          </tr>
        </thead>



        <tbody>
          @for (holiday of HoliDayHttpClientService.HoliDaysByYearList; track $index) {
            <tr>
              <th scope="row" class="bg-success">${{$index}}</th>
              <td>{{holiday.Name}}</td>
              <td>{{holiday.Month}}-{{holiday.Day}}-{{holiday.Year}}</td>
            </tr>
          }
        </tbody>
      </table>
</div>