<div class="row w-100">
    <div class="col col-12 col-md-6 mb-2 mb-md-0">
        <div class="d-flex">
            <input type="number" class="form-control me-2" min="1900" inputmode="numeric" #yearInput>
            <button (click)="GetHoliDaysByYear()" class="btn btn-primary w-50" type="button">Get Holidays</button>
        </div>
    </div>
    <div class="col col-12 col-md-6">
        <div class="d-flex">
            <input type="date" class="form-control me-2" id="datepicker" #validateDateInput>
            <button (click)="ValidateHoliDay()" class="btn btn-primary w-50" type="button">Validate Date</button>
        </div>
    </div>
</div>



