<div class="row w-100 justify-content-center">
    <div class="col-12 col-md-6 mb-3 mb-md-0">
      <div class="d-flex align-items-center justify-content-between">
        <input 
          type="number" 
          class="form-control rounded-pill p-3 shadow-sm" 
          min="1900" 
          inputmode="numeric" 
          #yearInput 
          placeholder="Enter year"
        >
        <button 
          (click)="GetHoliDaysByYear()" 
          class="btn btn-success w-100 w-md-50 rounded-pill p-3 ms-2" 
          type="button"
        >
          Get Holidays
        </button>
      </div>
    </div>
  
    <div class="col-12 col-md-6">
      <div class="d-flex align-items-center justify-content-between">
        <input 
          type="date" 
          class="form-control rounded-pill p-3 shadow-sm" 
          id="datepicker" 
          #validateDateInput
        >
        <button 
          (click)="ValidateHoliDay()" 
          class="btn btn-info w-100 w-md-50 rounded-pill p-3 ms-2 text-white" 
          type="button"
        >
          Validate Date
        </button>
      </div>
    </div>
  </div>
  